/*
IMPORTS
--------
*/
/*
VARIABLES
--------
*/
/*
  MIXINS
================
*/
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.aligncenter {
  width: 100%;
  height: auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

@font-face {
  font-family: 'girino-icon';
  src: url("../fonts/girino-icon.ttf?wdzzzb") format("truetype"), url("../fonts/girino-icon.woff?wdzzzb") format("woff"), url("../fonts/girino-icon.svg?wdzzzb#girino-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
.girino-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'girino-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.girino-arrows:before {
  content: "\e900"; }

.girino-arrows-1:before {
  content: "\e901"; }

.girino-aside .path1:before {
  content: "\e902";
  color: #31c0d8; }

.girino-aside .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: #ffb548; }

.girino-aside .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: #ffd248; }

.girino-aside .path4:before {
  content: "\e905";
  margin-left: -1em;
  color: #231f20; }

.girino-aside .path5:before {
  content: "\e906";
  margin-left: -1em;
  color: #231f20; }

.girino-aside .path6:before {
  content: "\e907";
  margin-left: -1em;
  color: #231f20; }

.girino-aside .path7:before {
  content: "\e908";
  margin-left: -1em;
  color: #231f20; }

.girino-aside .path8:before {
  content: "\e909";
  margin-left: -1em;
  color: #231f20; }

.girino-aside .path9:before {
  content: "\e90a";
  margin-left: -1em;
  color: #231f20; }

.girino-aside .path10:before {
  content: "\e90b";
  margin-left: -1em;
  color: #231f20; }

.girino-aside .path11:before {
  content: "\e90c";
  margin-left: -1em;
  color: #231f20; }

.girino-github:before {
  content: "\e90d"; }

.girino-comments .path1:before {
  content: "\e90e";
  color: #88c057; }

.girino-comments .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: #659c35; }

.girino-comments .path3:before {
  content: "\e910";
  margin-left: -1em;
  color: white; }

.girino-comments .path4:before {
  content: "\e911";
  margin-left: -1em;
  color: white; }

.girino-comments .path5:before {
  content: "\e912";
  margin-left: -1em;
  color: white; }

.girino-quote:before {
  content: "\e913"; }

.girino-multimedia:before {
  content: "\e914"; }

.girino-music:before {
  content: "\e915"; }

.girino-tags .path1:before {
  content: "\e916";
  color: #e8d5b2; }

.girino-tags .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: #cbb292; }

.girino-tags .path3:before {
  content: "\e918";
  margin-left: -1em;
  color: #d75a4a; }

.girino-facebookblack:before {
  content: "\e919"; }

.girino-facebook .path1:before {
  content: "\e91a";
  color: #3b5998; }

.girino-facebook .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: white; }

.girino-googleplus .path1:before {
  content: "\e91c";
  color: #dc4e41; }

.girino-googleplus .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: #dc4e41; }

.girino-googleplus .path3:before {
  content: "\e91e";
  margin-left: -1em;
  color: #dc4e41; }

.girino-googleplus .path4:before {
  content: "\e91f";
  margin-left: -1em;
  color: white; }

.girino-googleplus .path5:before {
  content: "\e920";
  margin-left: -1em;
  color: white; }

.girino-googleblack:before {
  content: "\e921"; }

.girino-twitterblack:before {
  content: "\e922"; }

.girino-standard:before {
  content: "\e923"; }

.girino-youtubeblack:before {
  content: "\e924"; }

.girino-twitter .path1:before {
  content: "\e925";
  color: #55acee; }

.girino-twitter .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: #f1f2f2; }

.girino-video:before {
  content: "\e927"; }

body {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
  background-color: #f3f3f3;
  overflow-x: hidden; }

a {
  color: #000000;
  -webkit-transition: color 500ms ease;
  -moz-transition: color 500ms ease;
  -ms-transition: color 500ms ease;
  -o-transition: color 500ms ease;
  transition: color 500ms ease; }
  a:hover, a:focus {
    text-decoration: none;
    color: #333333; }

.background-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.table .table-cell {
  vertical-align: middle; }

.header-container {
  position: relative;
  display: block;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }

.site-title {
  color: #fff;
  margin: 0;
  padding-top: 8px;
  font-size: 50px; }

.site-description {
  font-size: 14px;
  color: #fff;
  margin-top: 1em; }

.nav-container {
  bottom: 0;
  left: 0;
  right: 0; }

/*
  HEADER
  ========

*/
.container-fluid {
  padding: 0; }

@media (min-width: 768px) {
  .scroll-header {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto; } }
/*
  NAVBAR
  ===============
*/
.navbar-girino {
  text-align: center;
  border: none;
  border-radius: 0;
  min-height: auto;
  margin-bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1); }
  .navbar-girino ul {
    float: none; }
  .navbar-girino li {
    float: none;
    display: block; }
    .navbar-girino li a {
      text-transform: uppercase;
      color: #FFF !important;
      font-size: 17px;
      opacity: 0.7;
      letter-spacing: 0.05em;
      background: none;
      -webkit-transition: opacity 320ms ease;
      -moz-transition: opacity 320ms ease;
      -ms-transition: opacity 320ms ease;
      -o-transition: opacity 320ms ease;
      transition: opacity 320ms ease; }
      .navbar-girino li a:hover, .navbar-girino li a:focus, .navbar-girino li a:visited {
        background: none;
        opacity: 1; }
      .navbar-girino li a:after {
        content: '';
        position: absolute;
        display: block;
        left: 15px;
        right: 15px;
        bottom: 14px;
        height: 2px;
        background: #fff;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
        opacity: 0;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px); }

/*
  NAVBAR FOR XS
  ================
*/
.navbar-blue {
  z-index: 99999; }

.navbar-brand {
  color: #fff !important; }

.navbar-header button span {
  color: #333333 !important; }

.navbarxs-girino {
  text-align: center;
  border: none;
  border-radius: 0;
  min-height: auto;
  margin-bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1); }
  .navbarxs-girino ul {
    float: none; }
  .navbarxs-girino li {
    float: none;
    display: block; }
    .navbarxs-girino li a {
      text-transform: uppercase;
      color: #FFF !important;
      font-size: 20px;
      opacity: 0.7;
      letter-spacing: 0.05em;
      background: none; }
    .navbarxs-girino li:hover {
      background-color: #fff; }
      .navbarxs-girino li:hover a {
        color: #6495ed !important; }

/*
  STANDARD POST
  ===============
*/
@media (max-width: 768px) {
  #indexxs {
    margin-top: 50px; } }
article {
  margin-bottom: 80px;
  background-color: #fff; }

.icon-standard {
  background-color: #b20000; }

.icon-circle {
  display: block;
  height: 30px;
  text-align: center;
  z-index: 9999;
  color: #fff;
  font-size: 21px;
  top: -13px;
  left: 50%;
  margin-left: -17px;
  padding-top: 2px; }

h1 {
  font-size: 48px;
  font-weight: bold;
  opacity: 0.75; }
  h1.entry-title {
    line-height: 1.5em;
    margin: 10px 0 0;
    padding: 0; }
    h1.entry-title:before, h1.entry-title:after {
      display: inline-block;
      position: relative; }
    h1.entry-title:before {
      margin-right: 10px; }
    h1.entry-title:after {
      margin-left: 10px; }

.entry-meta {
  margin-top: 10px;
  font-size: 13px;
  font-weight: bold;
  color: #898989; }
  .entry-meta a:hover, .entry-meta a:focus {
    color: #b20000; }

.standard-featured-link {
  display: block;
  position: relative; }
  .standard-featured-link:hover .standard-featured:after, .standard-featured-link:focus .standard-featured:after {
    background-color: transparent; }

.standard-featured {
  height: 330px;
  display: block;
  position: relative; }
  .standard-featured:after {
    -webkit-transition: background-color 1000ms ease;
    -moz-transition: background-color 1000ms ease;
    -ms-transition: background-color 1000ms ease;
    -o-transition: background-color 1000ms ease;
    transition: background-color 1000ms ease;
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.35); }

.entry-excerpt {
  margin: 30px 40px 16px 40px; }
  .entry-excerpt p {
    color: #333333 !important;
    font-size: 17px;
    line-height: 1.5em;
    font-weight: 300;
    letter-spacing: 0.02em; }

.btn-girino {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  color: #898989;
  padding: 8px 12px;
  border-radius: 0;
  border: 1px solid #898989;
  background-color: transparent; }
  .btn-girino:hover, .btn-girino:focus {
    color: #fff;
    border-collapse: #333333;
    background-color: #333333; }

.entry-footer {
  padding: 10px 5px;
  border-bottom: 3px solid #f1f1f1;
  color: #898989;
  text-transform: uppercase; }
  .entry-footer a {
    color: #898989;
    display: inline-block;
    padding: 0 4px;
    font-size: 12px; }
  .entry-footer .tags-list .dashicons-admin-links {
    margin-right: 10px !important; }
  .entry-footer .tags-list a {
    padding: 0 4px !important; }
  .entry-footer .comments-link .dashicons-admin-comments {
    margin-left: 10px !important; }

/*
  VIDEO POST
  =================

*/
.icon-video {
  background-color: #0000b2; }

/*
  ASIDE POST
  =================
  */
.girino-format-aside .aside-container {
  background-color: rgba(0, 0, 0, 0.08); }
.girino-format-aside .aside-featured {
  width: 136px;
  height: 136px;
  border-radius: 50%;
  margin: 15px auto -20px; }
.girino-format-aside .entry-meta {
  margin-bottom: 5px; }
.girino-format-aside .entry-excerpt {
  margin: 0 0 0 0; }
  .girino-format-aside .entry-excerpt p {
    font-size: 15px; }
.girino-format-aside .entry-footer {
  border-bottom: none;
  background-color: rgba(0, 0, 0, 0.05); }

.icon-aside {
  background-color: #ffc04c; }

/*
  SINGLE POST
  =================

*/
.entry-content-single {
  margin-top: 40px;
  font-size: 18px;
  letter-spacing: 0.2em;
  font-weight: 300px;
  line-height: 1.7em; }
  .entry-content-single p {
    margin-bottom: 15px; }
  .entry-content-single b,
  .entry-content-single strong {
    font-weight: 500; }

/* header profile */
h1.girino-username,
h2.girino-description {
  font-weight: 100;
  color: #fff; }

h1.girino-username {
  font-size: 20px;
  margin: 0 0 10px; }

h2.girino-description {
  font-size: 13px;
  margin: 0 0 20px; }

.image-container {
  display: block;
  width: 100%;
  overflow: hidden;
  text-align: center; }

.profile-picture {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

/* Sidebar Section */
.girino-sidebar {
  color: #fff;
  height: 100vh;
  bottom: 0; }
  .girino-sidebar a {
    color: #bababa; }
    .girino-sidebar a:hover, .girino-sidebar a:focus {
      color: #fff; }

/* Widget Section */
.girino-widget {
  margin: 30px 0 50px;
  padding: 0 20px; }
  .girino-widget ul {
    list-style: none !important;
    text-align: left;
    font-size: 15px; }

h2.girino-widget-title {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  background-color: #303030;
  padding: 8px;
  border-radius: 20px;
  line-height: 1em;
  margin-bottom: 20px;
  letter-spacing: 0.2px; }

.tagcloud {
  text-align: center; }
  .tagcloud a {
    font-size: 12px !important;
    display: inline-block;
    background-color: #7d7d7d;
    padding: 1px 9px;
    border-radius: 10px;
    color: #eee; }
    .tagcloud a:hover, .tagcloud a:focus {
      background-color: #DC143C; }

.cat-item {
  position: relative; }
  .cat-item a,
  .cat-item span {
    display: block;
    line-height: 1em; }
  .cat-item a {
    padding: 4px 0; }
  .cat-item span {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 7px 5px;
    background-color: #7D7D7D;
    border-radius: 10px; }

/* footer-index */
/* escape-area*/
/* comment-area*/
.comments-area {
  border-top: 4px solid #f1f1f1;
  margin-top: 40px;
  padding: 0 0 40px 0; }
  @media (min-width: 768px) {
    .comments-area {
      padding: 0 40px 40px 40px; } }

.email-field {
  margin-bottom: 50px !important; }

.comment-list {
  padding: 0;
  list-style: none; }

.comment-body {
  padding-bottom: 0; }

.children {
  background-color: #F5F5F5;
  padding-right: 20px;
  padding-left: 20px;
  list-style: none;
  margin-left: 60px; }
  .children .comment-author:before {
    background-color: #fff; }

.comment-author {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 300; }
  .comment-author:before {
    position: absolute;
    content: '';
    display: block;
    top: 10px;
    bottom: 13px;
    left: 40px;
    right: 0;
    background-color: #f5f5f5;
    z-index: 1;
    border-radius: 4px; }
  .comment-author * {
    z-index: 1;
    position: relative; }
  .comment-author b {
    font-weight: 400; }
  .comment-author .avatar {
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid #fff; }

.comment-metadata {
  text-align: right;
  text-transform: uppercase;
  margin-top: -5px;
  font-size: 12px; }
  .comment-metadata a {
    color: #999; }

.comment-content {
  padding: 20px 0;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 1px solid #E6E6E6;
  margin-left: 60px; }

.reply {
  text-align: right;
  padding: 5px 0; }

a.comment-reply-link {
  text-transform: uppercase;
  color: #ff9d1d; }
  a.comment-reply-link:hover, a.comment-reply-link:focus {
    color: #F56B08; }

.comment-respond {
  margin-top: 60px; }

.recentcomments {
  font-size: 10px;
  color: #ccc; }
  .recentcomments a {
    text-transform: uppercase; }
  .recentcomments span, .recentcomments span a {
    display: block;
    color: #fff;
    font-size: 14px;
    padding-bottom: 4px;
    margin-bottom: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    text-transform: none; }

/*

  GIRINO SHARE THIS

*/
.girino-shareThis {
  display: block;
  text-align: center;
  border-top: 1px solid #f1f1f1;
  padding-top: 10px; }
  .girino-shareThis ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .girino-shareThis li {
    font-size: 30px;
    margin: 0 5px;
    float: none;
    display: inline-block; }
  .girino-shareThis a {
    display: inline-block;
    font-size: 30px;
    margin: 0 5px;
    opacity: 0.75; }
    .girino-shareThis a:hover, .girino-shareThis a:focus {
      opacity: 1; }

.girino-shareThisLoop {
  float: left;
  display: block;
  text-align: center;
  padding-top: 10px; }
  .girino-shareThisLoop ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .girino-shareThisLoop li {
    font-size: 30px;
    margin: 0 5px;
    float: none;
    display: inline-block;
    list-style: none; }
  .girino-shareThisLoop a {
    display: inline-block;
    font-size: 30px;
    margin: 0 5px;
    opacity: 0.75; }
    .girino-shareThisLoop a:hover, .girino-shareThisLoop a:focus {
      opacity: 1; }

.btn-ul ul {
  list-style: none !important; }

#leiamais {
  float: right;
  font-size: 25px;
  margin-right: 10px; }

/*
 *  STYLE 2 SCROLLBAR
 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #333333; }

.mCSB_inside > .mCSB_container {
  margin-right: 0px !important; }

.main-footer {
  background-color: #333333;
  height: 80px;
  display: inline-block; }
  .main-footer ul {
    padding-top: 10px;
    display: inline-block; }
    .main-footer ul li {
      display: inline-block;
      font-size: 25px;
      color: #fff;
      margin-left: 12px; }
      .main-footer ul li h2 {
        font-size: 15px; }

/*# sourceMappingURL=girino.css.map */
