/*
VARIABLES
--------
*/
$body-font : 'Raleway','Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;

$primary-color : #000000;
$lighter-grey: #F1F1F1;
$light-grey : #898989;
$dark-grey : #333333;
